.planet-1 {
  background-image: url('../../../assets/img/game-bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  height: 100vh;
}
.planet-1 .char {
  position: absolute;
  right: 6rem;
  bottom: 0;
  width: 14rem;
  z-index: 1;
}
.planet-1 .color-overlay {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0, 0, 0, 0.3);
}
.planet-1 .char-overlay {
  background-color: rgba(0, 0, 0, 0.1);
  position: fixed;
  z-index: 2;
}
