/** CSS talk bubble **/
.talk-bubble {
  position: absolute;
  right: 10rem;
  top: 1.5rem;
  width: 162px;
  height: auto;
  background-color: #bfd4ed;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 13px 17px 49px 18px #bfd4ed;
}
/* Right triangle, right side slightly down*/
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -11px;
  top: 18px;
  bottom: auto;
  border: 9px solid;
  border-color: transparent transparent #bfd4ed #bfd4ed;
}
/* talk bubble contents */
.talktext {
  padding: 1em;
}
.talktext p {
  font-weight: 600;
}

/** custom scrollbar **/
/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(138, 43, 226, 0.8);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(138, 43, 226, 1);
}
