/** CSS talk bubble **/
.talk-bubble {
  position: absolute;
  right: 10rem;
  top: 1.5rem;
  width: 162px;
  height: auto;
  background-color: #bfd4ed;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 13px 17px 49px 18px #bfd4ed;
}
/* Right triangle, right side slightly down*/
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -11px;
  top: 18px;
  bottom: auto;
  border: 9px solid;
  border-color: transparent transparent #bfd4ed #bfd4ed;
}
/* talk bubble contents */
.talktext {
  padding: 1em;
}
.talktext p {
  font-weight: 600;
}

/** custom scrollbar **/
/* width */
::-webkit-scrollbar {
  width: 9px;
  height: 9px;
}
/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}
/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(138, 43, 226, 0.8);
  border-radius: 10px;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgba(138, 43, 226, 1);
}

.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(0, 0, 0, 0.8);
  height: 100vh;
  width: 100vw;
  background: url("as.jpg") no-repeat center center
    ;
    -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.login {
  
  display: flex;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  text-align: center;
  box-shadow: 6px 6px 6px rgb(150, 95, 95);
  background: rgb(252, 217, 217);
}

.navbar {
  background-color: rgb(127, 65, 226);
  /* background-color: rgb(168,197,244); */
  font-size: 40px;
  color: beige;
  display: flex;
  box-shadow: 4px 4px 6px rgb(19, 19, 19);
  justify-content: space-between;
  margin: 10px;
  padding: 15px;
}

.game {
  background: url("aa.jpg") no-repeat center center  ;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  display: flex;
  
  justify-content: center;
  align-items: center;

}

.images {
  margin-top: 70px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  
  width: 480px;
  box-shadow: 4px 4px 10px gray;
}

.image {
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.image-blank {
  background: url("onepiece.png") !important;
  background-size: contain !important;
  background-repeat: no-repeat !important;
  background-position: center !important;
  height: 120px;
  width: 120px;
  border-radius: 5px;
  box-shadow: 2px 2px 3px black;
  padding: 10px;
  margin: 10px;
}

.end-game {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100%;
  background: rgba(0, 0, 0, 0.8);
}

.message {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 60vh;
  width: 40vw;
  background: white;
  box-shadow: 12px 12px 10px gray;
}

@media only screen and (max-width: 600px) {
  .image {
    height: 100px;
    width: 110px;
    margin: 5px;
  }
  .message {
    width: 400px;
  }
  .login {
    width: 400px;
  }
}
