/* CSS talk bubble */
.talk-bubble {
  position: absolute;
  right: 12rem;
  top: 1.5rem;
  width: 176px;
  height: auto;
  background-color: #BFD4ED;
  border-radius: 30px;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  box-shadow: 13px 17px 49px 18px #BFD4ED;
}
/* Right triangle, right side slightly down*/
.tri-right.right-in:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
  left: auto;
  right: -17px;
  top: 18px;
  bottom: auto;
  border: 10px solid;
  border-color: transparent transparent #BFD4ED #BFD4ED;
}
/* talk bubble contents */
.talktext {
  padding: 1em;
}
.talktext p{
  font-weight: 600;
}
